/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

/* CSS Variable */
:root {
  --hue-color: 240;
  --main-color: hsl(var(--hue-color), 55%, 50%);
  --title-color: hsl(var(--hue-color), 55%, 15%);
  --text-color: hsl(var(--hue-color), 15%, 35%);
  --text-color-light: hsl(var(--hue-color), 15%, 75%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 25%, 95%);

  /* Font Typography Weight*/
  --body-font: 'Quicksand', sans-serif;
  --font-size-large: 3rem; /* 48px */
  --font-size-medium: 0.815rem; /* 13px */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-smallest: 0.625rem; /* 10px */

  /* Font weight */
  --font-weight-medium: 500;

  /* Margins bottom */
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /* z index */
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
  root {
    /* bigger screens */
    --font-size-large: 3.5rem; /* 56px */
    --font-size-medium: 0.875rem; /* 14px */
    --font-size-small: 0.815rem; /* 13px */
    --font-size-smallest: 0.75rem; /* 12px */
  }
}

/* Base reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

/* utility classes */
.grid {
  display: grid;
}

.container {
  max-width: 968px;
  margin: 0 var(--mb-1);
}
